@use "global" as *;

.blog-top {
  position: relative;
  padding-top: rem(78);

  @include mq("md") {
    padding-top: rem(90);
  }
}

.blog-top::after {
  @include mq("md") {
    background-image: url(./../images/blog-img1.jpg);
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    height: rem(500);
    width: 100%;
    z-index: -999;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
