@use "global" as *;

.contact-page__footer-top {
  background-color: $green;
  margin-top: rem(148);
  padding-top: rem(48);
  padding-bottom: rem(56);

  @include mq("md") {
    margin-top: rem(163);
    padding-top: rem(79);
    padding-bottom: rem(82);
  }
}
