@use "global" as *;

.information-top {
  width: 100%;
  background-color: $green2;
  margin-top: rem(78);
  padding-top: rem(78);
  padding-bottom: rem(84);

  @include mq("md") {
    margin-top: rem(160);
    padding-top: rem(92);
    padding-bottom: rem(76);
  }
}
