@use "global" as *;

.blog-card {
  align-self: stretch;
  background-color: #fff;
  box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.25);
  padding-bottom: 1.375rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.blog-card__body {
  margin-top: rem(22);

  @include mq("md") {
    margin-top: rem(20);
  }
}

.blog-card__text {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.5;
  font-family: "Noto Sans JP", serif;
  margin-top: rem(-3);
  border-bottom: rem(1) solid $green;
  padding-bottom: rem(3);

  @include mq("md") {
  margin-top: rem(-2);
  padding-bottom: rem(3);

  }
}

.blog-card__text-sub {
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;
  font-family: "Noto Sans JP", serif;
  margin-top: rem(16);
}

.blog-card__img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 301/201;
}

.blog-card__date {
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1.5;
  font-family: Gotu;
}


.blog-card__inner {
  position: relative;
  max-width: rem(600);
}

.blog-card___inner::before {
  position: absolute;
  content: "";
  background: url(./../images/same-logo.svg) center center / contain no-repeat;
  width: rem(120);
  height: rem(55);
  bottom: 99.4%;
  left: calc(50% - min(46vw, rem(620)));
  z-index: 1;

  @include mq("md") {
    width: rem(301);
    height: rem(138);
    bottom: 97.5%;
    z-index: -1;
  }
}

.blog-card___inner.inner {
  padding-left: rem(21);
  padding-right: rem(21);

  @include mq("md") {
    padding-left: $padding-pc;
    padding-right: $padding-pc;
  }
}

.blog-card___container {
  @include mq("md") {
    display: flex;
  }
}

.blog-card___container-left {
  @include mq("md") {
    width: 65.5%;
  }
}

.blog-card___container-right {
  @include mq("md") {
    width: 27%;
    margin-left: rem(80);
  }
}

.blog-card__img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 301/201;
}

.blog-card__img {
  transform: scale(1);
  transition: transform 0.5s ease-in-out; /* トランジションを一貫して設定 */
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 301/201;
}

.blog-card:hover .blog-card__img img {
  transform: scale(1.1);
}

.blog-card__img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 301/201;
  transition: transform 0.5s ease-in-out; /* トランジションを一貫して設定 */
}
