@use "global" as *;

.blog-cards-detail__title {
  @include mq("md") {
    margin-top: rem(-4);
  }
}


.blog-cards-detail:hover {
  cursor: pointer;
}


.blog-cards-detail__text {
  font-size: rem(24);
  font-weight: $medium;
  line-height: 1.5;
  font-family: Noto Sans JP;
  margin-top: rem(4);
  border-bottom: rem(1) solid $green;
  padding-bottom: rem(3);

  @include mq("md") {
    font-size: rem(32);
    margin-top: rem(4);
    padding-bottom: rem(0);
    line-height: 1.45;
  }
}


.blog-cards-detail__date {
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.5;
  font-family: Gotu;
}



.blog-cards-detail__item-container ul {
  margin-top: rem(24);
  padding-left: rem(26);

  @include mq("md") {
    margin-top: rem(40);
  }
}


.blog-cards-detail__item-container li::before {
  background-image: url(./../images/detail-logo.svg);
  content: "";
  width: rem(18); /*画像の幅*/
  height: rem(18); /*画像の高さ*/
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  left: rem(16);
  margin-top: rem(3);

  @include mq("md") {
    left: rem(25);
  }
}

.blog-cards-detail__item-container li {
  font-size: rem(16);
  line-height: calc(24/16);
  font-family: "Noto Sans JP", serif;
}

.blog-cards-detail__item-container li:not(:first-child) {
  margin-top: rem(4);
}

.blog-cards-detail__item-container:hover {
  cursor: pointer;
}


.blog-cards-detail__item-container__text {
  font-size: rem(24);
  font-weight: $medium;
  line-height: 1.5;
  font-family: Noto Sans JP;
  margin-top: rem(4);
  border-bottom: rem(1) solid $green;
  padding-bottom: rem(3);

  @include mq("md") {
    font-size: rem(32);
    margin-top: rem(4);
    padding-bottom: rem(0);
    line-height: 1.45;
  }
}

.blog-cards-detail__item-container p {
  font-size: rem(16);
  font-weight: $normal;
  line-height: 1.5;
  font-family: "Noto Sans JP", serif;
  margin-top: rem(24);

  @include mq("md") {
    letter-spacing: 0.005em;
    margin-top: rem(40);
  }
}


.blog-cards-detail__item-container figure {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 301/201;
}

.blog-cards-detail__item-container figure:not(:first-child) {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(39);
  }
}

.blog-cards-detail__item-container figure img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 301/201;
}

.blog-cards-detail__item-box figure {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 301/201;
}

.blog-cards-detail__item-box figure img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 301/201;
}

.blog-cards-detail__item-box {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(42);
  }
}