@use "global" as *;

.blog-heading__inner {
  padding-left: rem(20);
  padding-right: rem(20);

  @include mq("md") {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.blog-heading__container:not(:first-child) {
  margin-top: rem(80);
}

.blog-heading__container-campaign {
  margin-top: rem(83);

  @include mq("md") {
    margin-top: rem(85);
  }
}

.blog-heading__container-archive {
  margin-top: rem(83);

  @include mq("md") {
    margin-top: rem(82);
  }
}

.blog-heading__icon {
  width: rem(50);
  height: rem(50);
}

.blog-heading__title-box {
  display: flex;
  align-items: center;
  border-left: rem(8) solid $green;
  padding-left: rem(16);
}

.blog-heading__title {
  font-size: rem(24);
  font-family: "Noto Sans JP", serif;
  font-weight: $normal;
  padding-left: rem(7);
}

.blog-heading__button-layout {
  margin-top: rem(42);
  text-align: center;
}