@use "global" as *;


.blog-heading-card-review__img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 294/218;
}

.blog-heading-card-review__title-box {
  margin-top: rem(20);
}

.blog-heading-card-review__title-box2 {
  margin-top: rem(11);
}

.blog-heading-card-review__title-sub {
  font-size: rem(12);
  font-weight: $normal;
  line-height: 1;
  font-family: "Noto Sans JP", serif;
}

.blog-heading-card-review__title-text {
  font-size: rem(24);
  font-weight: $medium;
  font-family: "Noto Sans JP", serif;
}

