@use "global" as *;

.contact-form__personal-information.personal-information input + span::before {
  position: absolute;
  content: "";
  width: rem(22);
  height: rem(22);
  border: rem(1) solid $green;
  left: rem(-30);
  top: rem(-2);
  display: block;
}

.contact-form__personal-information.personal-information span {
  padding-left: rem(4);
  font-size: rem(14);
}

.contact-form__personal-information input + span::after {
  position: absolute;
  content: "";
  border-bottom: rem(2) solid $red;
  border-left: rem(2) solid $red;
  height: rem(9);
  width: rem(13);
  top: rem(-5);
  left: rem(-25);
  margin-top: rem(7);
  opacity: 0;
  transform: rotate(-45deg);
  display: block;
}