@use "global" as *;

.drawer-menu {
  position: absolute;
  z-index: 900;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: $green;
  overflow-y: scroll;
  opacity: 1;
}

.drawer-menu__inner {
  padding-left: rem(15);
  padding-right: rem(15);
  margin-left: auto;
  margin-right: auto;
  }

.drawer-menu__musk {
  height: rem(80);
  background-color: $green;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.drawer-menu__items-upper {
  width: 100%;
  padding-left: rem(22);
  margin-top: rem(15);
}

.drawer-menu__items-bottom {
  width: 100%;
  padding-left: rem(22);
  margin-top: rem(16);
}

.drawer-menu__item {
  text-align: center;
  position: relative;
  align-items: center;
  display: block;
}

.drawer-menu__container {
  display: flex;
  justify-content: center;
  padding-top: rem(80);
}

.drawer-menu__container-left,
.drawer-menu__container-right {
  width: 50%;
  max-width: rem(200); /* 必要に応じて適切な幅を指定してください */
}

.drawer-menu__item-text {
  white-space: nowrap; /* テキストを折り返さないようにする */
}


.drawer-menu__container-right {
  margin-left: rem(2);
  display: grid;
}


.drawer-menu__link-main {
  width: 100%;
  font-size: rem(16);
  text-align: center;
  color: $white;
  display: flex;
  padding-top: rem(12);
  padding-bottom: rem(10);
}

.drawer-menu__link-sub {
  width: 100%;
  font-size: rem(16);
  text-align: center;
  color: $white;
  display: flex;
  padding-top: rem(12);
  padding-bottom: rem(12);
  margin-top: rem(17.3);
}

.drawer-menu__link-main::before {
  content: '';
  width: rem(18);/*画像の幅*/
  height: rem(18);/*画像の高さ*/
  background-image: url(../images/drawer-logo.svg);
  background-size: contain;
  top: rem(9);
  left: rem(-23);
  position: absolute;
}
.drawer-menu__link-sub::before {
  content: '';
  width: rem(18);/*画像の幅*/
  height: rem(18);/*画像の高さ*/
  background-image: url(../images/drawer-logo.svg);
  background-size: contain;
  top: rem(9);
  left: rem(-23);
  position: absolute;
}


.drawer-menu__item-text {
  padding-top: rem(11);
  padding-bottom: rem(7);
  color: $white;
  vertical-align: middle;
  list-style-type: none;
}

.drawer-menu__item-text-b {
  padding-top: rem(9);
  padding-bottom: rem(9);
  color: $white;
  vertical-align: middle;
  list-style-type: none;
}