@use "global" as *;

.header__hamburger-layout {
  width: rem(40);
  height: inherit;
  padding-right: rem(6);
  padding-left: rem(6);
}

.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(80);
  border-right-color: transparent;
  background-color: rgba(13, 41, 54, 0.68);
  transition: 0.3s;

  @include mq("md") {
    height: rem(90);
  }
}

.header-opacity {
  opacity: 1;
}

.header.is-scroll {
  background-color: $gray;
  transition: 0.3s;
  opacity: 1;
}

.header__inner {
  display: flex;
  align-items: center;
  height: rem(80);
  border-bottom: rem(1) solid $black;
  justify-content: space-between;
  padding-right: rem(13);

  @include mq("md") {
    height: rem(90);
    padding-left: rem(25);
    padding-right: rem(20);
    border-bottom: none;
  }
}

.header__nav {
  height: inherit;
}

.header__items {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item {
  height: inherit;
  color: $white;
}

.header__item a:hover{
  color: $white;
}

.header__item a::after {
  content: '';
  position: absolute;
  bottom: rem(15);
  left: 10%;
  width: 80%;
  height: rem(1);
  background: $white;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: center top;
}


.header__link {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: $white;
  font-size: rem(10);
  font-weight: $normal;
  height: inherit;
  align-items: center;
  white-space: nowrap;
  position: relative;
  padding-right: rem(20);
  padding-left: rem(20);
}

.header__link span {
  color: $white;
  font-size: rem(18);
  white-space: nowrap;
  font-family: "Gotu", sans-serif;
}


.header__link:hover::after {
    transform: scale(1, 1);
}

.header__hamburger {
  position: relative;
  z-index: 9999;
  top: 0;
  right: -1.5%;
  width: rem(32);
  height: inherit;
  cursor: pointer;
}

.header__hamburger.is-active {
  top: rem(28);
  right: rem(4);
  width: rem(40);
}

.header__hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: rem(1);
  background-color: $white;
  transition: 0.3s transform 0.3s background-color;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}

.header__hamburger.is-active span {
  background-color: $white;
}

.header__hamburger span:nth-child(1) {
  top: 34%;
}

.header__hamburger span:nth-child(2) {
  top: 49%;
  transition: 0.3s opacity;
}

.header__hamburger span:nth-child(3) {
  top: 64%;
}

.header__hamburger.is-active span:nth-child(1) {
  top: rem(11);
  transform: rotate(37deg);
}

.header__hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.header__hamburger.is-active span:nth-child(3) {
  top: rem(12);
  transform: rotate(-37deg);
}

.header__name-layout {
  padding-left: rem(15);
  padding-right: rem(15);
  height: inherit;
  display: flex;
  align-items: center;
  z-index: 5000;

  @include mq("md") {
    padding-left: ren(40);
  }
}