@use "global" as *;

.pagination-blog__inner {
  position: relative;
  width: 100%;
}

.pagination-blog__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-blog__nav a {
  width: rem(38);
  height: rem(38);
  border: rem(1) solid $green;
  color: $green;
  padding: rem(7) rem(14);
  font-size: rem(16);
  margin: 0 rem(6);
  font-family: "Lato",  sans-serif;
  position: relative;
}

.pagination-blog__nav span {
  width: rem(38);
  height: rem(38);
  border: rem(1) solid $green;
  color: $white;
  padding: rem(7) rem(14);
  font-size: rem(16);
  font-family: "Lato",  sans-serif;
  margin: 0 rem(5);
  position: relative;
}

.pagination-blog__nav a:first-child {
  margin-right: rem(35);
  padding: rem(18);
}

.pagination-blog__nav a:last-child {
  margin-left: rem(35);
  padding: rem(18);
}

.pagination-blog__prev::before {
  border-right: rem(1) solid $green;
  border-top: rem(1) solid $green;
  content: '';
  display: inline-block;
  width: rem(11);
  height: rem(11);
  position: absolute;
  transform: rotate(-135deg);
  left: 40.5%;
  top: 35%;

}

.pagination-blog__current {
  background-color: $green;
  color: #fff;
  width: rem(40);
  height: rem(40);
  border: rem(1) solid $green;
  padding: rem(11) rem(14);
  margin: 0 rem(5);
}

.pagination-blog__next::before {
  border-right: rem(1) solid $green;
  border-top: rem(1) solid $green;
  content: '';
  display: inline-block;
  width: rem(11);
  height: rem(11);
  position: absolute;
  transform: rotate(45deg);
  right: 44.5%;
  top: 35%;
}
