@use "global" as *;

.pagination__inner {
  position: relative;
  width: 100%;
}

.pagination__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__nav a {
  width: rem(38);
  height: rem(38);
  border: rem(1) solid $green;
  color: $green;
  padding: rem(7) rem(14);
  font-size: rem(16);
  margin: 0 rem(6);
  font-family: "Lato", sans-serif;
  position: relative;
  cursor: pointer;
}

.pagination__larger:hover {
  transition: 0.3s;
  cursor: pointer;
  color: $white;
  background-color: $green;
}

.pagination__nav span {
  width: rem(38);
  height: rem(38);
  border: rem(1) solid $green;
  color: $white;
  padding: rem(7) rem(14);
  font-size: rem(16);
  font-family: "Lato", sans-serif;
  margin: 0 rem(5);
  position: relative;
  cursor: pointer;
}

.pagination__nav a:first-child {
  margin-right: rem(35);
  padding: rem(18);
}

.pagination__nav a:last-child {
  margin-left: rem(35);
  padding: rem(18);
}

.pagination__prev::before {
  border-right: rem(1) solid $green;
  border-top: rem(1) solid $green;
  content: "";
  display: inline-block;
  width: rem(11);
  height: rem(11);
  position: absolute;
  transform: rotate(-135deg);
  left: 40.5%;
  top: 35%;
}

.pagination__prev:hover {
  transition: 0.3s;
  background-color: $green;
}

.pagination__prev:hover::before {
  transition: 0.3s;
  cursor: pointer;
  border-right: rem(1) solid $white;
  border-top: rem(1) solid $white;
}

.pagination__current {
  background-color: $green;
  color: #fff;
  width: rem(40);
  height: rem(40);
  border: rem(1) solid $green;
  padding: rem(11) rem(14);
  margin: 0 rem(5);
}

.pagination__next::before {
  border-right: rem(1) solid $green;
  border-top: rem(1) solid $green;
  content: "";
  display: inline-block;
  width: rem(11);
  height: rem(11);
  position: absolute;
  transform: rotate(45deg);
  right: 44.5%;
  top: 35%;
}

.pagination__next:hover {
  transition: 0.3s;
  background-color: $green;
}

.pagination__next:hover::before {
  transition: 0.3s;
  cursor: pointer;
  border-right: rem(1) solid $white;
  border-top: rem(1) solid $white;
}