@use "global" as *;

.price-page__inner {
  position: relative;
  max-width: rem(600);
}

.price-page__inner.inner {
  max-width: rem(750);
}

.price-page__inner::before {
  position: absolute;
  content: "";
  background: url(./../images/same-logo.svg) center center / contain no-repeat;
  width: rem(120);
  height: rem(55);
  bottom: 97.1%;
  left: calc(50% - min(46vw, rem(620)));
  z-index: 1;

  @include mq("md") {
    width: rem(301);
    height: rem(138);
    bottom: 93.6%;
    z-index: -1;
  }
}

.price-page__items {
  display: grid;
  gap: rem(40);
  grid-template-columns: repeat(1, 1fr);

  @include mq("md") {
    gap: rem(80);
  }
}

