@use "global" as *;

.section-title {
  text-align: center;
}

.section-title__sub {
  font-size: rem(32);
  line-height: 1.4;
  font-family: "Gotu", sans-serif;

  @include mq("md") {
    font-size: rem(40);
  }
}

.section-title__sub::first-letter {
  color: $green; /* 先頭の文字の色を変更 */

}

.section-title__main {
  font-size: rem(12);
  color: $green;
  margin-top: rem(3);
  font-family: "Noto Sans JP", serif;
  font-weight: $normal;
}

.section-title__sub--white {

  font-size: rem(32);
  line-height: 1.4;
  color: $black;
  font-family: "Gotu", sans-serif;

  @include mq("md") {
    font-size: rem(40);
    color: $white;
  }
}

.section-title__sub--white::first-letter {

  @include mq("md") {
    color: $white;
  }
}


.section-title__main--white {

  font-size: rem(12);
  margin-top: rem(2);
  font-family: "Noto Sans JP", serif;
  font-weight: $normal;

  @include mq("md") {
      color: $white;
  }

}

.section-title__sub--large {
  font-size: rem(80);
  line-height: 1.4;
  margin-bottom: rem(-25);
  font-weight: $normal;
  font-family: "Gotu", sans-serif;

  @include mq("md") {
    font-size: rem(80);
  }
}

.section-title__sub--large::first-letter {
  color: $green;
}