@use "global" as *;

  .voice__inner {
    position: relative;
    max-width: rem(600);

  }

  .voice__inner::before {
    @include mq("md") {
        position: absolute;
        content: "";
        background: url(./..//images/voice-logo.svg) center center / contain no-repeat;
        width: rem(301);
        height: rem(138);
        bottom: 95.7%;
        left: calc(50% - min(48vw, rem(620)));
    }
  }

  .voice__inner::after {
    @include mq("md") {
        position: absolute;
        content: "";
        background: url(./../images/voice-logo2.svg) center center / contain no-repeat;
        width: rem(71);
        height: rem(162);
        bottom: -11%;
        right: calc(50% - min(48vw, rem(540)));
    }
  }

  .voice__cards {
    margin-top: rem(45);

    @include mq("md") {
      margin-top: rem(28);
    }
  }


  .voice__button-layout {
    margin-top: rem(40);
    text-align: center;

    @include mq("md") {
      margin-top: rem(80);
    }
  }