@use "global" as *;

.wp-pagenavi {
	clear: both;
	text-align:center;
}

.wp-pagenavi a {
  width: rem(38);
  height: rem(38);
  border: rem(1) solid $green;
  color: $green;
  padding: rem(11) rem(14);
  font-size: rem(16);
  margin: 0 rem(6);
  font-family: "Lato",  sans-serif;
  position: relative;
}

.wp-pagenavi span  {
  width: rem(38);
  height: rem(38);
  border: rem(1) solid $green;
  color: $white;
  padding: rem(11) rem(14);
  font-size: rem(16);
  font-family: "Lato",  sans-serif;
  margin: 0 rem(5);
  position: relative;
}



.wp-pagenavi span.current{
  background-color: $green;
  color: #fff;
  width: rem(40);
  height: rem(40);
  border: rem(1) solid $green;
  padding: rem(11) rem(14);
  margin: 0 rem(5);
}

.blog-card__body {
  margin-top: rem(22);

  @include mq("md") {
    margin-top: rem(20);
  }
}